.container{
margin: auto;
width: 1200px;
flex-wrap: wrap;
display: flex;
gap: 20px;}

h1{
text-align: center;
color: #B0B0B0;
}
.box{
  border: 2px dashed #C9A568;
  padding-left: 10px;
  width: 200px;
}

p:first-of-type:first-letter{
font-size: 3em;
color:#C9A568}